/* Google Fonts - Poppins */

.circular-progress {
    /* position: relative; */
    height: 120px;
    width: 120px;
    border-radius: 50%;


    display: flex;
    align-items: center;
    justify-content: center; 
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #474747;
}

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: 300 !important;
    color: white;
}

.text {
    font-size: 30px;
    font-weight: 300;
    color: #606060;
}