* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
}

body {
  --sb-track-color: #0a0a0a;
  --sb-thumb-color: #676767;
  --sb-size: 7px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active-link {
  background-color: #474747;
  color: #eee !important;
}

.gradent {
  background: rgb(182, 1, 212) !important;
  background: linear-gradient(180deg, rgba(182, 1, 212, 1) 21%, rgba(79, 39, 177, 1) 83%) !important;
}

.customOverlay {
  backdrop-filter: blur(5px);
  /* Adjust the blur radius as needed */
}

.customOverlay {
  background: rgba(40, 40, 41, 0.7);
}

.customModal {
  background: rgb(160, 159, 159) !important;
  width: 60% !important;
  margin-inline: auto;
  border-radius: 7px !important;
  padding-block: 1.5rem !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Add this media query at the end of your CSS */
@media screen and (max-width: 768px) {

  .customModal {
    max-width: 90%;
    margin-top: 20px;

  }
}


@media screen and (max-width: 400px) {

  .customModal {
    background: rgb(160, 159, 159) !important;
    width: 100% !important;
    margin-inline: auto;
    border-radius: 7px !important;
    padding-block: 1.5rem !important;
  }
}